{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="header--form-page">
        <nav class="container container--70">
            <ul class="nav--actions">
                {% if user.is_authenticated %}
                    <li class="logged-user">
                        Witaj {{ user.first_name }}
                        <ul class="dropdown">
                            <li><a href="{% url 'user-details' user.id %}">Profil</a></li>
                            <li><a href="#">Ustawienia</a></li>
                            {% if user.is_superuser %}
                                <li><a href="http://127.0.0.1:8000/admin">Panel administracyjny</a></li>
                            {% endif %}
                            <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
                    <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
                {% endif %}

            </ul>

            <ul>
                <li><a href="../" class="btn btn--without-border active">Start</a></li>
                <li><a href="../#steps" class="btn btn--without-border">O co chodzi?</a></li>
                <li><a href="../#about-us" class="btn btn--without-border">O nas</a></li>
                <li><a href="../#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
                <li><a href="{% url 'add-donation' %}" class="btn btn--without-border">Przekaż dary</a></li>
                <li><a href="../#contact" class="btn btn--without-border">Kontakt</a></li>
            </ul>
        </nav>


        <div class="slogan container--70">
            <div class="slogan--item">
                <h1>
                    Imię: {{ user.first_name }}<br>
                </h1>
                <h1>
                    Nazwisko: {{ user.last_name }}<br>
                </h1>
                <h1>
                    email: {{ user.email }}<br>
                </h1></div>
        </div>
        {#            <ul>#}
        {#                {% for donation in donations %}#}
        {#                    <li>Worki: {{ donation.quantity }}</li>#}
        {#                    <li>Dary: {% for cat in donation.categories.all %}{{ cat }}, {% endfor %}</li>#}
        {#                    <li>Dla: {{ donation.institution }}</li>#}
        {#                    <li>Data odbioru: {{ donation.pick_up_date }}</li>#}
        {#                    <br>#}
        {#                    {% endfor %}#}
        {#            </ul>#}
        {#        </div>#}

    </header>
    <form method="post">
    {% csrf_token %}
        <section id="stats" class="stats">
            <div class="container container--85">
                <table>
                    <tr>
                        <th colspan="5">ODDANE DARY</th>
                    </tr>
                    <tr>
                        <th>WORKI</th>
                        <th>DARY</th>
                        <th>DLA</th>
                        <th>DATA ODBIORU</th>
                    </tr>
                    {% for donation in donations %}
                        <tr>
                            <td>{{ donation.quantity }}</td>
                            <td>{% for cat in donation.categories.all %}{{ cat }}, {% endfor %}</td>
                            <td>{{ donation.institution }}</td>
                            <td>{{ donation.pick_up_date }}</td>
                            {% if donation.picked == True %}
                                <td>Odebrano: {{ donation.date_time_picked }}</td>

                            {% else %}
                                <td>
{#                                    <button type="submit">Potwierdzam odbiór</button>#}
                                    <input type="hidden" name="confirm" value={{ donation.id }}>
                                    <input type="submit" class="btn next-step" value="Potwierdzam odbiór">
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </section>
    </form>
    {#        <div class="stats--item">#}
    {#          <em>{{ no_of_bags }}</em>#}
    {#          <h3>Oddanych worków</h3>#}
    {#          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>#}
    {#        </div>#}
    {##}
    {#        <div class="stats--item">#}
    {#          <em>{{ no_of_institutions }}</em>#}
    {#          <h3>Wspartych organizacji</h3>#}
    {#          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>#}
    {#        </div>#}


    <footer>
        <div class="contact">
            <h2>Skontaktuj się z nami</h2>
            <h3>Formularz kontaktowy</h3>
            <form class="form--contact">
                <div class="form-group form-group--50">
                    <input type="text" name="name" placeholder="Imię"/>
                </div>
                <div class="form-group form-group--50">
                    <input type="text" name="surname" placeholder="Nazwisko"/>
                </div>

                <div class="form-group">
            <textarea
                    name="message"
                    placeholder="Wiadomość"
                    rows="1"
            ></textarea>
                </div>

                <button class="btn" type="submit">Wyślij</button>
            </form>
        </div>
        <div class="bottom-line">
            <span class="bottom-line--copy">Copyright &copy; 2018</span>
            <div class="bottom-line--icons">
                <a href="#" class="btn btn--small"
                ><img src={% static 'images/icon-facebook.svg' %}
                /></a>
                <a href="#" class="btn btn--small"
                ><img src={% static 'images/icon-instagram.svg' %}
                /></a>
            </div>
        </div>
    </footer>

    <script src={% static 'js/app.js' %}></script>
{% endblock %}